@CHARSET "UTF-8";

body {
	font-family: arial;
	margin: 0px;
	padding: 10px 0;
}

/* Klassen für die DIV's auf der template/main Seite */
.header {
	margin: 10px 0 20px 0;
	height: 40px;
	border-radius: 2px;
	color: #eee;
	/*padding: 5 0 0 5;*/
	background: #2875d3; /* Old browsers */
}

.pagename {
	height: 15px;
	color: #ffffff;
	display: block;
	float: center;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}

.logout {
	color: red;
	display: block;
	float: right;
	padding: 7px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.gesperrt {
	background: #faa !important;
}

.frei {
	background-color: #afa !important;
}

input, button, select {
	width: 170px;
	display: block;
	padding: 3px;
	margin: 2px;
}

.panelcolumn {
	padding: 15px;
}

button {
	width: 90%;
	display: block;
	padding: 3px;
	margin: 2px;
}

.actionProj {
	width: 15%;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	width: 100% !important;
}

.ui-selectonemenu {
	width: 100% !important;
}

.ui-selectonemenu-label {
	width: 100% !important;
}

.primeCalendar {
	width: 100px;
}

.separator {
	width: 98%;
	height: 10px;
	margin-left: 1%;
	margin-right: 1%;
	border-color: #cc0000 !important;
	background: #cc0000 !important;
}

.banner {
	position: absolute;
	top: 0px;
	right: 0px;
}

.panel {
	width: 260px;
	height: 10px;
	border-color: #cc0000 !important;
	background: #cc0000 !important;
}

.separatorActions {
	width: 260px;
	height: 10px;
	margin-left: 1%;
	margin-right: 1%;
	border-color: #cc0000 !important;
	background: #cc0000 !important;
}

/* /*CHART TOOLTIP for barchart, linechart*/
* /
	/* .ui-chart-tooltip, .jqplot-highlighter-tooltip { */
	/* 	display: none !important; */
	/* } */
	/* .ui-datepicker-calendar {
	display: none;
}
 */ 
.menubar {
	width: 100%
}

.admin {
	visibility: visible;
}

.user {
	visibility: collapse;
}

.tableView table, .tableView a.ui-datepicker-prev, .tableView a.ui-datepicker-next
	{
	display: none;
}
